<!-- docs.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buddy AI Documentation</title>
    <link rel="stylesheet" href="../static/docs.css">
</head>
<body>
<div class="docs-header">
    <div class="docs-logo"><img src="../static/media/LOGO.png" alt="LOGO"></div>
    <div class="docs-menu">
        <ul>
            <a href="/"><li>Home</li></a>
            <a href="#"><li>Go to Chat</li></a>
        </ul>
    </div>
</div>
    <div class="container">
        <aside class="sidebar">
            <nav>
                <ul>
                    <li><a href="#introduction">Introduction</a></li>
                    <li><a href="#capabilities">Capabilities</a></li>
                    <li><a href="#limitations">Limitations</a></li>
                    <li><a href="#usage">Usage</a></li>
                    <li><a href="#faq">FAQ</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <section id="introduction">
                <h1>👋Welcome to Yaar AI Bot Docs</h1>
                <p>New to Yaar? Start from here</p>
                <hr>
            </section>
            <section id="capabilities">
                <h1>Capabilities</h1>
                <p>...</p>
            </section>
        </main>
    </div>
    <div class="docs-footer">

        By using the VibesMatch's Yaar AI Bot, you agree with our privacy policy, user-policy, and cookies policy <br>  
        All rights reserved © vibesmatch.com 2024
        
        </div>
 

</body>
</html>
