<!-- footer.html -->
<footer>
    <p>By using the VibesMatch's Yaar AI Bot, you agree with our privacy policy, user-policy, and cookies policy</p>
    <p>All rights reserved &copy; vibesmatch.com 2024</p>

    <div class="footer-menu">
        <ul>
            <a href="#"><li>About Us</li></a>
            <a href="/contact"><li>Contact Us</li></a>
            <a href="/contact#feedback"><li>Feedback</li></a>
            <a href="#"><li>Account</li></a>
            <a href="/docs"><li>Docs</li></a>
        </ul>
    </div>
</footer>