<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/global.css">
    <title>VibesMatch Bots | Your Personal Buddy</title>
</head>
<body>
    {% include 'header.html' %} <!-- Includes the header -->

    <h1>Meet VibesMatch's Personal Bot: Yaar</h1>
    <button class="pri-btn"><a href="/chat">Start Chatting</a></button>
    <button class="sec-btn"><a href="/demo">See a Demo</a></button>


        <p>See <a href="https://www.skyvern.com/">Skyvern</a></p>


    {% include 'footer.html' %} <!-- Include footer -->
</body>
</html>